<div class="container text-center">
  <h1>Insert your details</h1>
</div>
<div class="container">
    <div class="row justify-content-center aling-items-center">
      <div class="col-4 d-flex justify-content-center aling-items-center">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <div>
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" placeholder="Enter Name">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearence="fill">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="dob">
              <mat-hint>DD/MMM/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        
          <div formArrayName="events">
            <div *ngFor="let event of events.controls; let i = index" [formGroupName]="i">
              <mat-card>
                <mat-form-field>
                  <mat-label>Event Name</mat-label>
                  <input matInput formControlName="eventName" placeholder="Enter Event Name">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Event Description</mat-label>
                  <textarea matInput formControlName="eventDescription" placeholder="Enter Event Description"></textarea>
                </mat-form-field>
                <mat-form-field>
                  <mat-form-field appearence="fill">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="eventDate">
                    <mat-hint>DD/MMM/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </mat-form-field>
                <button mat-icon-button color="warn" type="button" (click)="removeEvent(i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-card>
            </div>
          </div>
          <button mat-raised-button color="primary" type="button" (click)="addEvent()">Add Event</button>
          <button type="submit" mat-raised-button color="primary">Submit</button>
        </form>
        
      </div>
      <div class="col-8 d-flex justify-content-center aling-items-center">
       <pre>
        {{ formValues | json}}
       </pre>
      </div>
    </div>
</div>

<div class="container text-center">
  <h1>View your details</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-4 d-flex justify-content-center align-itmes-center">
      <input type="file" (change)="onFileChange($event)">
<button (click)="uploadFile()">Upload</button>

    </div>
    <div class="col-8 d-flex justify-content-center align-itmes-center">
      <ul>
        <li *ngFor="let item of jsonData">
          <p>Name: {{ item.name }}</p>
          <p>Date of Birth: {{ item.dob }}</p>
          <ul>
            <li *ngFor="let event of item.events">
              <p>Event Name: {{ event.eventName }}</p>
              <p>Event Description: {{ event.eventDescription }}</p>
              <p>Event Date: {{ event.eventDate }}</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>